@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.graditent-immverse-ai{
  background: linear-gradient(90deg, #4B39DA 2.22%, #CC2C6B 96.67%);

}
.card-content, .main-content{
  background: linear-gradient(252.13deg, rgba(206, 225, 255, 0.3) 1.73%, rgba(232, 241, 254, 0.3) 100.28%),
linear-gradient(110.04deg, rgba(255, 255, 255, 0.2) 0.84%, rgba(233, 239, 251, 0.2) 96.43%);
border: none;
}

.play-btn{
  background: rgba(115, 70, 241, 1);
}
